////////////////////////////
////     COLORS        ////
//////////////////////////

$gray: #c2c2c2;
$light-gray: scale-color($gray, $lightness: 30);
$dark-gray: scale-color($gray, $lightness: -30);


////////////////////////////
////       GRID        ////
//////////////////////////

