////////////////////////////
////     COLORS        ////
//////////////////////////

$gray: #c2c2c2;
$dark-gray: scale-color($gray, $lightness: -30);
$light-gray: scale-color($gray, $lightness: 30);

$baby-blue: rgb(31, 173, 255)

////////////////////////////
////       GRID        ////
//////////////////////////

