////////////////////////////
////     COLORS        ////
//////////////////////////

$gray: #c2c2c2;
$light-gray: scale-color($gray, $lightness: 50);
$dark-gray: scale-color($gray, $lightness: -30);
$darker-gray: scale-color($gray, $lightness: -40);

$baby-blue: rgb(31, 173, 255);
$baby-baby-blue: scale-color($baby-blue, $lightness: 90);

////////////////////////////
////       TYPE        ////
//////////////////////////

$small-type: 12px;
$medium-type: 14px;
$regular-type: 16px;