@import 'design'
@import 'breakpoints'

.root
  background-color: white
  width: 56.25rem
  height: 41rem
  margin: 3rem auto
  background-color: $light-gray
  
  @include medium-media 
    width: 90%

