@import 'breakpoints'
@import 'design'

.root
  width: 70%
  height: 80%
  margin: 2rem auto
  background-color: $light-gray
  text-align: center

.controlPanel
  height: 3rem
  display: flex
  justify-content: center
  
  button
    height: 1.5rem
    margin: auto 0
    border-color: white
    border-radius: 0.5rem
    
    &:first-child
      margin-right: 1.5rem

    &:focus
      // outline-width: 2px
      // outline-style: dotted
      // outline-color: $baby-blue



.listContainer
  background-color: white
  width: 100%
  height: 90%